
<%include partials/_header%>
<html>

  <body>

    <!-- Burgers Layout -->
  <section class="bg-light">
  <div class="container">
    <br>
    <br>
    <br>
    <h2 class="m-6">Burgers</h2>
    <p class="lead text-muted mb-5">Bacon ipsum dolor amet cupim turducken cow kielbasa capicola t-bone. Tail turducken tri-tip alcatra, drumstick strip steak cow pork loin leberkas tongue pancetta beef. Bacon pork chop tail pastrami ribeye alcatra bresaola ground round shankle venison boudin brisket picanha kevin. Short ribs picanha t-bone sirloin, pancetta biltong kielbasa brisket cow beef ribs. Ground round pancetta rump strip steak venison. Frankfurter flank beef ribs, pastrami shankle beef chicken ham hock tri-tip doner fatback turkey. Buffalo meatball ball tip tri-tip turducken short ribs beef ribs sirloin ham ground round biltong pancetta chicken bacon.</p>
    <div class="row">
      <%dishes.forEach(dish => {%>
      <div class="col-md-4 mb-4">
        <div class="card shadow border-0 h-100"><a href="#"><img src="<%=dish.image%>" alt="" class="card-img-top"></a>
          <div class="card-body">
              <h5><%=dish.name%></h5>
              <p class="text-muted card-text"><%=dish.description%></p>
                <p class="card-text">$<%=dish.price.toFixed(2)%> <button type="button" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Select</button> </p>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="dish-<%=dish.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><%=dish.name%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"><%=dish.description%></div>
            <div class="modal-body">$<%=dish.price.toFixed(2)%></div>
            <div class="modal-footer">
              <form action= "/cart" method="POST" class="add-to-cart-form">
                <input type="number" class="quantity-button"  name="qty" min="1" max="20" value="1">
                <input type="hidden" name="dishId" value="<%=dish.id%>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Add to Cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%})%>
    </div>
    </section>
    <!-- Flexbox container for aligning the toasts -->
    <div class="toast" id="submit-toast" role="alert" style="position: fixed; top: 78px; left: 100px;" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header">
        <img src="https://findicons.com/files/icons/1964/colorcons_green/128/checkmark.png" class="rounded mr-2" alt="fast food Icon" width="30" height="30">
        <strong class="mr-auto">Confirmed!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">Item has been successfully added to cart.</div>
    </div>




    <!-- JavaScript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<%include partials/_footer%>
