<%include partials/_header%>
<br>
<br>

<div class="container m-2 mx-auto">
    <div class="row w-150">
      <%dishes.forEach(dish => {%>
        <div class="col-sm-3 m-1 rounded" style="border: solid 1px grey" >
        <div class="imageTextBox">
          <img class="menu-image rounded " src="<%=dish.image%>">
          <!--<div style="background-image:url(<%=dish.image%>)"></div> TEST THIS AFTER-->
          <span><%=dish.name%></span>
          <div class="font-weight-lighter" ><%=dish.description%></div>
          <form>
            <div >$<%=dish.price%></div>
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#exampleModal">
                Select
              </button>
            <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
              </div>
            <!--<div><button type="submit" class="btn btn-dark col-xs-5" >Select</button></div>-->
          </form>
          </div>
        </div>
      <%})%>
    </div>
</div>

 <!--


 -->






</body>
</html>