<%include partials/_header%>
<br>
<br>


<p class="text-center m-3">Burgers</p>
<p class="text-center">100% all-natural Angus beef. No hormones and no antibiotics ever. Served on a non-GMO potato bun.</p>
<div class="container m-2 mx-auto">
  <div class="row w-100 justify-content-center">
    <%dishes.forEach(dish => {%>

    <!-- Modal -->
    <div class="modal fade" id="dish-<%=dish.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%=dish.name%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body"><%=dish.description%></div>
        <div class="modal-body">$<%=dish.price%></div>
        <div class="modal-footer">
          <form action= "/cart" method="POST" class="add-to-cart-form">
            <input type="number" class="quantity-button"  name="qty" min="1" max="20" value="1">
            <input type="hidden" name="dishId" value="<%=dish.id%>">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>


      <div class="col-md-3 mx-3 my-4 rounded text-center min-w-260" style="border: solid 1px grey" >
        <div class="imageTextBox">
          <!-- <img class="menu-image img-thumbnail rounded " src="<%=dish.image%>"> -->
          <div class="burger_header img-thumbnail m-1" style="background-image:url(<%=dish.image%>)"></div>
          <span><%=dish.name%></span>
          <div class="font-weight-lighter" ><%=dish.description%></div>
          <div>$<%=dish.price%></div>
          <div><button type="button" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Select</button></div>
        </div>
      </div>
    <%})%>
  </div>
</div>

</body>
</html>