<%include partials/_header%>











<!-- OLD LAYOUT BELOW-->
<p class="text-center m-3">Burgers</p>
<p class="text-center">100% all-natural Angus beef. No hormones and no antibiotics ever. Served on a non-GMO potato bun.</p>
<div class="container m-2 mx-auto">
  <div class="row w-100 justify-content-center">
    <%dishes.forEach(dish => {%>

    <!-- Modal -->
    <div class="modal fade" id="dish-<%=dish.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%=dish.name%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body"><%=dish.description%></div>
            <div class="modal-body">$<%=dish.price%></div>
          <div class="modal-footer">
            <form action= "/cart" method="POST" class="add-to-cart-form">
              <input type="number" class="quantity-button"  name="qty" min="1" max="20" value="1">
              <input type="hidden" name="dishId" value="<%=dish.id%>">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>




      <div class="col-md-3 mx-3 my-4 rounded text-center min-w-260" style="border: solid 1px grey" >
        <div class="imageTextBox">
          <!-- <img class="menu-image img-thumbnail rounded " src="<%=dish.image%>"> -->
          <div class="burger_header img-thumbnail m-1" style="background-image:url(<%=dish.image%>)"></div>
          <span><%=dish.name%></span>
          <div><%=dish.description%></div>
          <div>$<%=dish.price%></div>
          <div><button type="button" class="btn btn-dark col-xs-5" data-toggle="modal" data-target="#dish-<%=dish.id%>">Select</button></div>
        </div>
      </div>
    <%})%>
  </div>
</div>
<!-- TOAST OPTION -->
<div id="submit-toast" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

<!-- Then put toasts within -->
 <div  class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>
 </body>
</html>





<!--COULD DELETED AFTER NAV BAR FOR PARTIAL-->


  <!--OLD VERSION-->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
    <div class="collapse navbar-collapse">
    <a id="order-confirmation" class="nav-item nav-link" href="/cart">
      <i class="material-icons">shopping_cart</i>
      </a>
  </div>
</nav>
  </header>


  <section class="home-content">
  <div id="carouselExampleSlidesOnly" class="carousel-slide " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/Main-Page-Photo.jpg" class="d-block w-100" alt="friends around a table eating burgers">
    </div>
    <div class="carousel-item">
      <img src="/images/lunchbrunch.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/meanbite.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>



<!-- THIS IS THE OLD HOME PAGE WHICH WAS WRAPPED IN A <body> tag-->
<!--  <img class="home-image" src="/images/Main-Page-Photo.jpg" alt="Customers sharing burger experience."> TESTING REMOVED FIRST LOOK-->
  <p>Bacon ipsum dolor amet prosciutto brisket ribeye drumstick landjaeger. Turkey pork chop capicola short loin. Fatback spare ribs turducken porchetta hamburger shank. Brisket tri-tip doner flank. Sausage shoulder spare ribs prosciutto, ribeye beef ribs andouille porchetta hamburger tri-tip capicola ground round boudin ham.
  </p>
  <p>
  Chuck meatloaf kielbasa, corned beef turkey sausage pork belly andouille pork chop burgdoggen swine. Sausage hamburger t-bone prosciutto corned beef chicken. Turducken tenderloin shoulder doner ham hock.
  </p>
  </section>
  <section class="button-prompt">
  <form method="GET" action="/dishes">
  <button type="submit" class="btn btn-dark btn-lg btn-block">Order Now!</button>
  </form>
  </section>